<h1> Edit Post </h1> 


<%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %></br></br>  
    <%= f.label :content %>
    <%= f.text_area :content %></br></br>  
    <%= f.label :blogger %>
    <%= f.collection_select :blogger_id, Blogger.all ,:id,:name %></br></br>  
    <%= f.label :destination %>
    <%= f.collection_select :destination_id, Destination.all, :id, :name %></br></br>  
    <%= f.submit %>
  <% end %>